#userProfile {
  width: 20%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.214);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1%;
  gap: 4%;
}
#userSiteList {
  width: 50%;
  min-height: 750px;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.214);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 2%;
  row-gap: 2%;
}
#UserPage main {
  padding: 1%;
  justify-content: center;
  gap: 1%;
}
#profilePicture {
  width: 15vmax;
  height: 15vmax;
  border-radius: 50%;
  border: #9883c03f solid 0.1rem;
}
#profilePicture img {
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
#userProfile h3 {
  font-size: 1rem;
  color: #5680e9;
}
.siteS:hover {
  transform: scale(1.05);
}
.siteS {
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.214);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 100%;
  width: 100%;
  text-align: center;
}
.siteLogo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.siteLogo img {
  width: 100%;
}
.siteName {
  cursor: pointer;
  font-size: 0.6rem;
  color: #8fa7e6;
}
.siteS p {
  font-size: 0.6rem;
  color: #8fa7e6;
}

#plus {
  width: 80%;
  align-self: center;
}

@media (max-width: 768px) {
  #UserPage main {
    gap: 5%;
  }
  #userProfile {
    width: 100%;
    height: 100%;
  }
  #userSiteList {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
  }
  #profilePicture {
    width: 50vmax;
    height: 50vmax;
    border-radius: 50%;
    border: #9883c03f solid 0.1rem;
  }
  #plus {
    width: 50%;
    align-self: center;
  }
}
