#MainLandingText {
  padding: 10%;
}
#MainLandingText p {
  font-size: 0.8em;
}
#MainLandingText h1 {
  font-size: 1.9rem;
}
@media screen and (max-width: 768px) {
  #MainLandingText h1 {
    font-size: 1.5rem;
  }
}

#MainLandingText h3 {
  font-size: 1rem;
}

#MainLandingImg {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
#LandingSocialMobile {
  display: flex;
  padding: 2%;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0px;
}
#LandingSocialMobilePlaceHolder {
  height: 10%;
}
