#siteLink:hover {
  transform: scale(1.1);
}
#siteLink {
  transition: 0.3s;
  color: #8860d0;
  padding: 5%;
  font-size: 0.9rem;
}
#copyBtn:hover {
  transform: scale(1.1);
}
#copyBtn {
  width: 100px;
  cursor: pointer;
  transition: 0.3s;
}
.Linki {
  background-color: rgba(255, 255, 255, 0.416);
  justify-content: center;
  align-items: center;
  color: #5680e9;
  margin-top: 10%;
}
